body {
    background-color: #f7ecc3;
    margin: 0;
}
.homepage h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #b05825;
    background-color: #b8614d;
    padding: 30px;
    -webkit-text-stroke: 0.25px #f7ecc3;
}
.recipe-page h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #b05825;
    background-color: #b8614d;
    padding: 30px;
    -webkit-text-stroke: 0.25px #f7ecc3;
}
h2 {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #b05825;
    margin: 10px;
}
.homepage ul {
    width: fit-content;
    margin: 0 auto;
}
.recipe-page ul {
    
    margin: 0 auto;
}
li {
    font-size: 24px;
    font-family: Arial, sans-serif;
    padding: 10px;
    
}
a {
    color: #c97b06;
}
li::marker {
    color: #fc7b03;
    
}
p {
    font-size: 24px;
    font-family: Arial, sans-serif;
    padding: 10px;
}
img {
    display: block;
    margin: 40px auto;
    border-radius: 5px;
}
.home {
    margin: 20px;
    font-size: medium;
    color: darkslategray;
}